<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yutou.jianr_mg">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>


    <application
        android:name="com.yutou.testapp.MyAppliction"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.yutou.testapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name="com.qy.e.comm.DownloadService"
            android:exported="false"/>

        <activity
            android:name="com.qy.e.rds.RDActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.qy.mobs.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity
            android:name="com.qy.sdk.views.ProxyActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>

        <activity
            android:name="com.qy.sdk.views.MyActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <service
            android:name="com.qy.selfrd.services.QyService"
            android:process=":DownloadService">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>
                <action android:name="com.qyrdk.service"/>
            </intent-filter>
        </service>
        <receiver android:name="com.qy.selfrd.services.QyReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yutou.jianr_mg.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <meta-data
            android:name="qydebug"
            android:value="false"/>
    </application>

</manifest>